url_sso/tests/data/iprova_usermanagement_wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.infoland.nl/suite/core/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.infoland.nl/suite/core/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.infoland.nl/suite/core/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LogonByIDSID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strIDSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonByIDSIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogonByIDSIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonByCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonByCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogonByCredentialsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logoff">
        <s:complexType />
      </s:element>
      <s:element name="LogoffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogoffResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="objUserStruct" type="tns:UserStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserStruct">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CanChangePassword" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanRequestPassword" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserGroupResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToUserGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserGroupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToUserGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserToUserGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInfoResult" type="tns:UserStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMemberships">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserMembershipsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserMembershipsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="objNewData" type="tns:UserStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTrustedApplicationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLoginCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenForUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogonByTokenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="guid" type="s1:guid" />
      <s:element name="UserStruct" type="tns:UserStruct" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogonByIDSIDSoapIn">
    <wsdl:part name="parameters" element="tns:LogonByIDSID" />
  </wsdl:message>
  <wsdl:message name="LogonByIDSIDSoapOut">
    <wsdl:part name="parameters" element="tns:LogonByIDSIDResponse" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:LogonByCredentials" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:LogonByCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="LogoffSoapIn">
    <wsdl:part name="parameters" element="tns:Logoff" />
  </wsdl:message>
  <wsdl:message name="LogoffSoapOut">
    <wsdl:part name="parameters" element="tns:LogoffResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToUserGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserMemberships" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetTokenForUser" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenForUserResponse" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:LogonByToken" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:LogonByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="LogonByIDSIDHttpGetIn">
    <wsdl:part name="strIDSID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByIDSIDHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsHttpGetIn">
    <wsdl:part name="strLoginCode" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpGetIn" />
  <wsdl:message name="LogoffHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupHttpGetIn">
    <wsdl:part name="strName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:guid" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupHttpGetIn">
    <wsdl:part name="strUserLoginCode" type="s:string" />
    <wsdl:part name="strUserGroupName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:UserStruct" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsHttpGetIn">
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserHttpGetIn">
    <wsdl:part name="strTrustedApplicationID" type="s:string" />
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenHttpGetIn">
    <wsdl:part name="strToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogonByIDSIDHttpPostIn">
    <wsdl:part name="strIDSID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByIDSIDHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsHttpPostIn">
    <wsdl:part name="strLoginCode" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByCredentialsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LogoffHttpPostIn" />
  <wsdl:message name="LogoffHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupHttpPostIn">
    <wsdl:part name="strName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:guid" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupHttpPostIn">
    <wsdl:part name="strUserLoginCode" type="s:string" />
    <wsdl:part name="strUserGroupName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddUserToUserGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:UserStruct" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsHttpPostIn">
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserMembershipsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserHttpPostIn">
    <wsdl:part name="strTrustedApplicationID" type="s:string" />
    <wsdl:part name="strLoginCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenForUserHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenHttpPostIn">
    <wsdl:part name="strToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogonByTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="UserManagementAPISoap">
    <wsdl:operation name="LogonByIDSID">
      <wsdl:input message="tns:LogonByIDSIDSoapIn" />
      <wsdl:output message="tns:LogonByIDSIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <wsdl:input message="tns:LogonByCredentialsSoapIn" />
      <wsdl:output message="tns:LogonByCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:input message="tns:LogoffSoapIn" />
      <wsdl:output message="tns:LogoffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <wsdl:input message="tns:AddUserGroupSoapIn" />
      <wsdl:output message="tns:AddUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <wsdl:input message="tns:AddUserToUserGroupSoapIn" />
      <wsdl:output message="tns:AddUserToUserGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <wsdl:input message="tns:GetUserMembershipsSoapIn" />
      <wsdl:output message="tns:GetUserMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <wsdl:input message="tns:GetTokenForUserSoapIn" />
      <wsdl:output message="tns:GetTokenForUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <wsdl:input message="tns:LogonByTokenSoapIn" />
      <wsdl:output message="tns:LogonByTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserManagementAPIHttpGet">
    <wsdl:operation name="LogonByIDSID">
      <wsdl:input message="tns:LogonByIDSIDHttpGetIn" />
      <wsdl:output message="tns:LogonByIDSIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <wsdl:input message="tns:LogonByCredentialsHttpGetIn" />
      <wsdl:output message="tns:LogonByCredentialsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:input message="tns:LogoffHttpGetIn" />
      <wsdl:output message="tns:LogoffHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <wsdl:input message="tns:AddUserGroupHttpGetIn" />
      <wsdl:output message="tns:AddUserGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <wsdl:input message="tns:AddUserToUserGroupHttpGetIn" />
      <wsdl:output message="tns:AddUserToUserGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <wsdl:input message="tns:GetUserMembershipsHttpGetIn" />
      <wsdl:output message="tns:GetUserMembershipsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <wsdl:input message="tns:GetTokenForUserHttpGetIn" />
      <wsdl:output message="tns:GetTokenForUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <wsdl:input message="tns:LogonByTokenHttpGetIn" />
      <wsdl:output message="tns:LogonByTokenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserManagementAPIHttpPost">
    <wsdl:operation name="LogonByIDSID">
      <wsdl:input message="tns:LogonByIDSIDHttpPostIn" />
      <wsdl:output message="tns:LogonByIDSIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <wsdl:input message="tns:LogonByCredentialsHttpPostIn" />
      <wsdl:output message="tns:LogonByCredentialsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <wsdl:input message="tns:LogoffHttpPostIn" />
      <wsdl:output message="tns:LogoffHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <wsdl:input message="tns:AddUserGroupHttpPostIn" />
      <wsdl:output message="tns:AddUserGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <wsdl:input message="tns:AddUserToUserGroupHttpPostIn" />
      <wsdl:output message="tns:AddUserToUserGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <wsdl:input message="tns:GetUserMembershipsHttpPostIn" />
      <wsdl:output message="tns:GetUserMembershipsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <wsdl:input message="tns:GetTokenForUserHttpPostIn" />
      <wsdl:output message="tns:GetTokenForUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <wsdl:input message="tns:LogonByTokenHttpPostIn" />
      <wsdl:output message="tns:LogonByTokenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagementAPISoap" type="tns:UserManagementAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogonByIDSID">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/LogonByIDSID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/LogonByCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/Logoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/AddUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/AddUserToUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/GetUserMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/GetTokenForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <soap:operation soapAction="http://www.infoland.nl/suite/core/LogonByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagementAPISoap12" type="tns:UserManagementAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogonByIDSID">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/LogonByIDSID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/LogonByCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/Logoff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/AddUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/AddUserToUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/GetUserMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/GetTokenForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <soap12:operation soapAction="http://www.infoland.nl/suite/core/LogonByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagementAPIHttpGet" type="tns:UserManagementAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LogonByIDSID">
      <http:operation location="/LogonByIDSID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <http:operation location="/LogonByCredentials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <http:operation location="/Logoff" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <http:operation location="/AddUserGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <http:operation location="/AddUserToUserGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <http:operation location="/GetUserMemberships" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <http:operation location="/GetTokenForUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <http:operation location="/LogonByToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagementAPIHttpPost" type="tns:UserManagementAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LogonByIDSID">
      <http:operation location="/LogonByIDSID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByCredentials">
      <http:operation location="/LogonByCredentials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
      <http:operation location="/Logoff" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserGroup">
      <http:operation location="/AddUserGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToUserGroup">
      <http:operation location="/AddUserToUserGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMemberships">
      <http:operation location="/GetUserMemberships" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenForUser">
      <http:operation location="/GetTokenForUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogonByToken">
      <http:operation location="/LogonByToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementAPI">
    <wsdl:port name="UserManagementAPISoap" binding="tns:UserManagementAPISoap">
      <soap:address location="https://hpa.iprova.nl/Management/Webservices/UserManagementAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagementAPISoap12" binding="tns:UserManagementAPISoap12">
      <soap12:address location="https://hpa.iprova.nl/Management/Webservices/UserManagementAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagementAPIHttpGet" binding="tns:UserManagementAPIHttpGet">
      <http:address location="https://hpa.iprova.nl/Management/Webservices/UserManagementAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagementAPIHttpPost" binding="tns:UserManagementAPIHttpPost">
      <http:address location="https://hpa.iprova.nl/Management/Webservices/UserManagementAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>